.header {
  position: fixed;
  margin: 0;
  padding: 10px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;

  width: 100%;
  z-index: 2;
}
.cover-page {
  position: relative;
  width: 100%;
  height: 100vh;
  img {
    width: 100%;
    height: 100%;
    filter: brightness(55%);
    mix-blend-mode: overlay;
  }
}
.header-link {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-link-logo {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  img {
    width: 80px;
    height: 50.02px;
    filter: brightness(150%);
  }
  h1 {
    margin-left: 5px;
    color: white;
    font-size: 22px;
    font-weight: 800;
  }
}
.header-links-container {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  & > * {
    margin: 20px;
  }
  p {
    font-size: 15px;
    cursor: pointer;
    color: white;
    &:hover {
      color: var(--secondary);
    }
  }
}
.header-link-sign,
.header-menu-link-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  & > * {
    margin: 5px;
  }
  .login,
  .join {
    padding: 4px;
    width: 85px;
    border-radius: 2px;
    cursor: pointer;
  }
  .login {
    background-color: transparent;
    outline: none;
    border: 2px solid #ff5172;
    color: #ff5172;
    &:hover {
      border: 2px solid #ff2c52;
    }
  }
  .join {
    color: white;
    border: 2px solid #ff5172;
    outline: none;
    background-color: #ff5172;
    &:hover {
      background-color: #ff2c52;
      border: 3px solid #ff2c52;
    }
  }
}
.cover-card {
  position: absolute;
  top: 27%;
  left: 7%;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    text-align: center;
    letter-spacing: 1.5px;
  }
  .heading-msg {
    font-size: 55px;
    color: white;
  }
  .heading-context {
    font-size: 20px;
    color: rgb(245, 243, 243);
  }
  .find-love {
    outline: none;
    width: 170px;
    margin-top: 10px;
    padding: 10px;
    font-weight: 900;
    border-radius: 20px;

    background-color: #ff2c52;
    color: white;
    cursor: pointer;
    &:hover {
      background-color: #ff5172;
    }
  }
}
.header-menu {
  margin-left: 1rem;
  display: none;
  position: relative;
}
.header-menu svg {
  cursor: pointer;
}
.gpt__navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  background: var(--color-footer);
  padding: 2rem;
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 1;

  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}
.gpt__navbar-menu_container p {
  margin: 1rem 0;
}

.gpt__navbar-menu_container-links {
  p {
    font-size: 15px;
    cursor: pointer;
    color: white;
    &:hover {
      color: var(--secondary);
    }
  }
}
.gpt__navbar-menu_container-links-sign {
  display: none;
}

@media screen and (max-width: 1050px) {
  .header-link-sign,
  .header-links-container {
    display: none;
  }
  .header-menu {
    display: flex;
  }
  .header-menu-link-sign {
    display: flex;
    flex-direction: column !important;
  }
  .cover-card {
    width: 60%;
    left: 3%;
    .heading-msg {
      font-size: 50px;
      color: white;
    }
    .heading-context {
      font-size: 15px;
      color: rgb(245, 243, 243);
    }
  }
}
@media screen and (max-width: 550px) {
  .header {
    padding: 2rem;
  }
  .header-link-sign,
  .header-links-container {
    display: none;
  }

  .gpt__navbar-menu_container {
    top: 20px;
  }
  .gpt__navbar-menu_container-links-sign {
    display: block;
  }
  .header-menu-link-sign {
    display: flex;
    flex-direction: column !important;
  }
  .cover-card {
    width: 95%;
    left: 3%;
    .heading-msg {
      font-size: 45px;
      color: white;
    }
    .heading-context {
      font-size: 12px;
      color: rgb(245, 243, 243);
    }
  }
}
.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
